<h1>About</h1>
<p>This site is a one stop solution for all the cab booking and cab sharing problems we have been facing in the campus.Now you need not worry about going anywhere alone as you can easily find other students who have same plans like you.Here you can collaborate and plan your travel.</p>
<p>If you have already booked a cab and you have vacant seats then post a vacancy</p>
<p>If have plans to go somewhere and haven't booked a cab yet then post a Request mentioning your current group size</p>
<p>For any queries contact Arvind Allamneni at +91-9772211572</p>
