<% provide(:title, 'Home') %>
<!DOCTYPE html>
<html>
  <head>
    <title>ChalkSpace | <%= yield(:title) %></title>
  </head>
  <body>
    
      <% if signed_in? %>
      
       <h1>Hello <%= @user.name %></h1>
      <%= link_to 'Post a Request', new_request_path %><br>
      <%= link_to 'Post a Vacancy', new_vacancy_path %>
      
      <% else %>
      <div class="center hero-unit">
      <h1>Welcome to Project Cabby</h1>

      <h2>
      This is the home page for our beta application.<br>
     </h2>
     <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-success" %>
     </div>
     <% end %>
   
  </body>
</html>
