<h1>Listing vacancies</h1>

<table>
  <thead>
    <tr>
      <th>Start at</th>
      <th>Vehicle</th>
      <th>Vacanctseats</th>
      <th>Comments</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @vacancies.each do |vacancy| %>
      <tr>
        <td><%= vacancy.start_at %></td>
        <td><%= vacancy.vehicle %></td>
        <td><%= vacancy.vacanctseats %></td>
        <td><%= vacancy.comments %></td>
        <td><%= vacancy.user_id %></td>
        <td><%= link_to 'Show', vacancy %></td>
        <td><%= link_to 'Edit', edit_vacancy_path(vacancy) %></td>
        <td><%= link_to 'Destroy', vacancy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vacancy', new_vacancy_path %>
