<p id="notice"><%= notice %></p>

<p>
  <strong>Start at:</strong>
  <%= @vacancy.start_at %>
</p>

<p>
  <strong>Vehicle:</strong>
  <%= @vacancy.vehicle %>
</p>

<p>
  <strong>Vacanctseats:</strong>
  <%= @vacancy.vacanctseats %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @vacancy.comments %>
</p>

<p>
  <strong>User:</strong>
  <%= @vacancy.user_id %>
</p>

<%= link_to 'Edit', edit_vacancy_path(@vacancy) %> |
<%= link_to 'Back', vacancies_path %>
