<p id="notice"><%= notice %></p>

<p>
  <strong>Start at:</strong>
  <%= @request.start_at %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @request.destination %>
</p>

<p>
  <strong>Group size:</strong>
  <%= @request.group_size %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @request.comments %>
</p>

<p>
  <strong>User:</strong>
  <%= @request.user_id %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
